html *
{
   font-family: "Raleway", sans-serif;
}

.welcome {
    background: url("../static/welcomeimg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-width: 100%;
}

.build {
    background: url("../static/build.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-width: 100%;
}

.logincard {
    background-color: rgba(255, 255, 255, 0.75);
}