<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

    <title> Welcome! </title>
</head>

<nav class="navbar sticky-top navbar-light navbar-expand-sm" style="background-color: white; opacity: .9;">
    <a class="navbar-brand" href="#">
        <img src="../static/pokeball.png" width="30" height="30" class="d-inline-block align-top">
        Pokemon Showdown
    </a>

    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href=""> Build </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a"> Battle </a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout"> Logout </a>
        </li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="card border-0 shadow my-5" style = "opacity: .9;">
          <div class="card-body p-5">
            <h2> Welcome {{user}}! </h2>
            TEXT
            <br> <br>

            <hr>

            <h2> Build </h2>
            TEXT
            <br> <br>
            <a href="" class = "btn btn-light"> Build Deck! </a>

            <hr>

            <h2> Battle </h2>
            TEXT
            <br> <br>
            <a href="" class = "btn btn-light"> Battle Now! </a>
          </div>
</body>

</html>
