html *
{
   font-family: "Raleway", sans-serif;
}

body {
    background: url("../static/karp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.link {
    text-decoration: none;
}
