

<meta id="teamsJson" name="{{teamsJson}}">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
  <link rel="stylesheet" href="../static/style.css" />
  
  <link rel="icon" href="../static/pokeball.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <title> Battle! </title>
</head>

<nav class="navbar sticky-top navbar-light navbar-expand-sm" style="background-color: white; opacity: .9;">
    <a class="navbar-brand" href="/welcome">
        <img src="../static/pokeball.png" width="30" height="30" class="d-inline-block align-top">
        Pokemon Showdown
    </a>

    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link button" href="/build"> Build </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/battle"> Battle </a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout"> Logout </a>
        </li>
    </ul>
</nav>

<br>
<center>
<h3 class="text-primary" id="turnIndicator"> Player 1's Turn </h3>
<br>





<div id="notification" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
      </div>
      <div class="modal-body" id="notifContent">
        <p></p>
      </div>
      <div class="btn-group-horizontal">
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][0]['name']}} </button>
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][1]['name']}} </button>
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][2]['name']}} </button>
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][3]['name']}} </button>
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][4]['name']}} </button>
        <button type="button" class="btn btn-secondary modalpokemon"> {{teams['team1'][5]['name']}} </button>
        <br>
      </div>
  </div>
</div>


<div id="winloss" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
      </div>
      <div class="modal-body" id="winorloss">
        <p>has lost</p>
      </div>
  </div>
</div>








<div class="container-fluid">
  <div class="row col-sm-12">
    <div class="col-sm-1 mx-auto">
      <div class="btn-group-vertical">
        {% for i in teams['team1'] %}
          <button type="button" class="btn btn-secondary team1pokemon"> {{teams['team1'][i]['name']}} </button>
        {% endfor %}

      </div>
    </div>
    <div class="col-sm-1 mx-auto">
      <div class="btn-group-vertical">
        {% for i in teams['team1'][0]['moves'] %}
          <button type="button" class="btn btn-secondary team1moves"> {{teams['team1'][0]['moves'][i]['name']}} </button>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-6 bg border border-dark mx-auto">
      <br> <br>
      <div class="row h-90 w-100">
        <div class="col align-self-end">
          <div class="progress">
            <div id="team1health" class="progress-bar active" role="progressbar" style="width: 100%" aria-valuenow={{teams['team1'][0]['stats']['hp']}} aria-valuemin="0" aria-valuemax={{teams['team1'][0]['stats']['hp']}}>
            </div>
          </div>
          <img src={{teams['team1'][0]['pic']}} id="team1pic" class="img-fluid h-70 w-30" style="height:350px; width:350px">
        </div>
        <div class="col align-self-end">
          <div class="progress">
            <div id="team2health" class="progress-bar active" role="progressbar" style="width: 100%" aria-valuenow={{teams['team2'][0]['stats']['hp']}} aria-valuemin="0" aria-valuemax={{teams['team2'][0]['stats']['hp']}}>
            </div>
          </div>
          <img src={{teams['team2'][0]['pic']}} id="team2pic" class="img-fluid h-70 w-30" style="height:350px; width:350px">
        </div>
      </div>
    </div>
    <div class="col-sm-1 mx-auto">
      <div class="btn-group-vertical">
        {% for i in teams['team2'][0]['moves'] %}
          <button type="button" class="btn btn-secondary team2moves"> {{teams['team2'][0]['moves'][i]['name']}} </button>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-1 mx-auto">
      <div class="btn-group-vertical">
        {% for x in teams['team2'] %}
          <button type="button" class="btn btn-secondary team2pokemon"> {{teams['team2'][x]['name']}} </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</center>

<body class = "battle">

</body>
<script src="../static/battleScript.js"></script>
